.message{
    border-radius: 4px;
    padding: 1rem;
    border-left: 4px solid;
    background: inherit;
   
    max-width: 45rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
    animation: bounce .3s ease-in-out .1s backwards;
}

.ml-auto{
    margin-left: auto;
}

.message .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.message .header .type{
    font-size: 1.4rem;
    font-weight: 600;
}

.message .header .type i{
    margin-right: .5rem;
}
.message .header .close{
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.message .header .close:hover{
    color: var(--gray-dark-3);
}

.message .body{
    margin-left: 2.2rem;
    font-size: 1.4rem;
    margin-top: .2rem;
}

.error{
    border-color: var(--red-2);
    background: rgb(255, 227, 221);
}

.error .close{
    color: var(--red-2);
}


.error i{
    color: var(--red-2);
}

.info{
    border-color: var(--blue-1);
    background: rgb(221, 239, 255);
}

.info .close{
    color: var(--blue-1);
}

.info i{
    color: var(--blue-1);
}

.warning{
    border-color: var(--yellow-3);
    background: rgb(255, 252, 221);
}

.warning .close{
    color: var(--yellow-3);
}

.warning i{
    color: var(--yellow-3);
}

.success{
    border-color: var(--mint-2);
    background: rgb(221, 255, 242);
}

.success .close{
    color: var(--mint-2);
}

.success i{
    color: var(--mint-2);
}

@keyframes bounce{
    0%{opacity: 0;transform: translateY(-20px);}
    30%{transform: translateY(10px);}
    50%{transform: translateY(-5px);}
    70%{transform: translateY(10px);}
    90%{transform: translateY(-5px);}
    100%{opacity: 1;transform: translateY(0);}
}